body {
	color: #222222;
}

/* banner */

#banner .medium-up-banner {
	color: #FFFFFF;
	font-weight: bolder;
	text-align: center;
	font-size: 100px;
}

#banner .small-only-banner {
	color: #FFFFFF;
	font-weight: bolder;
	text-align: center;
	font-size: 50px;
}



/* #action */

#action {
	float: right;
}

#action a {
	font-weight: bold;
}

/* accordion */

/* green */

/* 
 *
 * Possible greens:
 * 
 * #8bc734
 * #43AC6A
 * #368a55
 *
 */

/* 
 *
 * Possible oranges:
 * 
 * #ffb51f
 *
 */

.orange  {
	background: #ffb51f;
}

.orange h1, .orange h2, .orange h3, .orange h4, .orange h5, .orange h6 {
	font-weight: bold;
}

.orange p, .orange h1, .orange h2, .orange h3, .orange h4, .orange h5, .orange h6 {
		color: #ffffff;
}

span.vs {
	color: #ffb51f;
	font-weight: bold;
}

span.accordion-title {
	color: white;
}