/* banner */

#banner h1 {
	color: white;
	font-weight: bolder;
	text-align: center;
	font-size: 100px;
	margin-top: 100px;
}

/* banner end */

/* green */

/* Possible greens 8bc734 8bc734 */

.green  {
	background-color: #8bc734;
}

.green h1, .green h2, .green h3, .green h4, .green h5, .green h6 {
	font-weight: bold;
}

.green p, .green h1, .green h2, .green h3, .green h4, .green h5, .green h6 {
		color: #ffffff;
}