/* banner */

#banner h1 {
	color: white;
	font-weight: bolder;
	text-align: center;
	font-size: 100px;
	margin-top: 100px;
}

/* .magellan */

.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a {
	background: #43AC6A;
}

/* #action */

#action {
	float: right;
}

#action a {
	font-weight: bold;
	color: #ffffff;
}

/* accordion */

/* green */

/* 
 *
 * Possible greens:
 * 
 * #8bc734
 * #43AC6A
 * #368a55
 *
 */

.green  {
	background: #8bc734;
}

.green h1, .green h2, .green h3, .green h4, .green h5, .green h6 {
	font-weight: bold;
}

.green, .green li > a, .green p, .green h1, .green h2, .green h3, .green h4, .green h5, .green h6 {
	color: #ffffff;
}

/* 
 *
 * Possible greens:
 * 
 * #ffb51f
 *
 */

.orange  {
	background: #ffb51f;
}

.orange h1, .orange h2, .orange h3, .orange h4, .orange h5, .orange h6 {
	font-weight: bold;
}

.orange p, .orange h1, .orange h2, .orange h3, .orange h4, .orange h5, .orange h6 {
		color: #ffffff;
}